* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #f3eaea;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
}

header h1 {
    float: left;
    margin-left: 10px;
}

header nav {
    float: right;
    margin-right: 10px;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin-left: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

.hero {
    background: #111817;
    color: #fff;
    padding: 50px 0;
    text-align: center;
}

.hero h2 {
    margin-bottom: 20px;
    font-size: 2.5em;
}

.services, .about, .contact {
    padding: 20px 0;
    text-align: center;
}

.services h2, .about h2, .contact h2 {
    margin-bottom: 20px;
}

.service-item {
    margin-bottom: 20px;
}

footer {
    background: #f0eded;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url( ./imagens/fundo-de-tecnologia-de-natal-gradiente_23-2149758674.avif) no-repeat center center fixed; 
    background-size: cover; 
}

.header {
    background-color: rgba(248, 243, 243, 0.829); 
}

.main {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); 
}

footer {
    background-color: rgba(248, 244, 244, 0.979); 
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
